[submodule "levera-contracts"]
	path = levera-contracts
	url = https://github.com/web3-batch-3-group-5/levera-contracts.git
[submodule "levera-frontend"]
	path = levera-frontend
	url = https://github.com/web3-batch-3-group-5/levera-frontend.git
[submodule "levera-indexer"]
	path = levera-indexer
	url = https://github.com/web3-batch-3-group-5/levera-indexer.git
